body {
  font-family: 'Space Mono', monospace;
}

header {
  position: fixed;
  top: 0;
}

button {
  padding: 24px;
  background-color: #333333;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}

.title {
  font-weight: 700;
  font-size: 64px;
  font-family: 'Space Mono', monospace;
  color: #333333;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.descriptions {
  margin-top: 36px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  color: #333333;
}

.responsive-image {
  width: 100%;
  height: auto;
}
