body {
  font-family: 'Space Mono', monospace;
  margin: 0px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

button {
  padding: 24px;
  background-color: #333333;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}

main {
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #333333;
}

.container {
  display: flex;
  min-height: 24em;
  height: 100vh;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 64px;
  font-family: 'Space Mono', monospace;
  color: #333333;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.column.ilustrations img {
  align-self: center;
}

.descriptions {
  margin-top: 36px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  color: #333333;
}

.responsive-image {
  width: 100%;
  max-width: 520px;
  height: auto;
}

@media only screen and (max-width: 420px) {
  button {
    padding: 18px;
  }

  .row.content {
    flex-direction: column;
  }

  .responsive-image {
    padding-top: 24px;
  }

  .title {
    font-size: 36px;
  }

  .descriptions {
    margin-top: 18px;
    font-size: 16px;
  }
}
